.theAppBar{
  background-color: #FFC501;
    opacity: 0.92;
}


.scroll-container{
    position: fixed;
    top:88px;
    left: 0%;
    width: 100%;
    height: 7px;
  }
  
  .scroll-container .indicator {
    height: 100%;
    background:#354F60 ;
  }

#brand {
    font-family:'monospace';
    font-size: 2em;
    flex-grow:1;
    color: black;
}
@media only screen and (max-width: 600px) {
    
    .theAppBar {
        /* background-image: linear-gradient(90deg, #7913b4 0%, #2e0b70 100%); */
        background-color: #FFC501;
        opacity: 0.92;
       
    }
    #brand {
        font-family:'monospace';
        font-size: 1.1em;
        flex-grow:1
    }
  }