.theAppBar{
    background-image: url("gradient.png");
   
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.92;
}

#brand {
    font-family:'monospace';
    font-size: 2em;
    flex-grow:1;
    color: black;
}
@media only screen and (max-width: 600px) {
    
    .theAppBar {
        /* background-image: linear-gradient(90deg, #7913b4 0%, #2e0b70 100%); */
        background-image: url("gradient.png");
      

        opacity: 0.92;
       
    }
    #brand {
        font-family:'monospace';
        font-size: 1.1em;
        flex-grow:1
    }
  }