.backToTop{
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    z-index: 0; /* Make sure it does not overlap */
    background-color: #FFC501; /* Set a background color */
    color: rgb(0, 0, 0); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */ /* Rounded corners */
    font-size:28px; /* Increase font size */
}