body {
    margin: 0px;
    background-image: url("./components/nasa-1lfI7wkGWZ4-unsplash.jpg");
    background-size: cover;
}

hr{
  border: 4px solid #E9D058;
  margin-bottom: 2vh;
  margin-top: 2vh;
}
html {
    height: 100vh;
}



::-webkit-scrollbar {
    width: 0.7em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {

    background-color: #80675A;
    background-repeat: no-repeat;
    background-size: cover;

    
  }


  /* Handle */
  ::-webkit-scrollbar-thumb {
    
    background-color: #EAD46B;
    
    opacity: 0.92;
   
  }

 
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #EA936C;

  }



  